<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}" class="js csstransforms3d">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "meta.html" . }}
    {{if .IsHome}}
    <title>{{ .Site.Title }}</title>
    {{else}}
    <title>{{ .Title }} :: {{ .Site.Title }}</title>
    {{end}}
    <link rel="shortcut icon" href="{{"images/favicon.png" | relURL}}" type="image/x-icon" />
    <link href="{{"css/nucleus.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/font-awesome.min.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/hybrid.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/horsey.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/fortawesome.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/designsystem.css" | relURL}}" rel="stylesheet">
    {{with .Site.Params.themeStyle}}
    <link href="{{(printf "css/%s.css" .) | relURL}}" rel="stylesheet">
    {{else}}
    <link href="{{"css/theme.css" | relURL}}" rel="stylesheet">
    {{end}}
    {{with .Site.Params.themeVariant}}
      <link href="{{(printf "css/theme-%s.css" .) | relURL}}" rel="stylesheet">
    {{end}}
    
    <script src="{{"js/jquery-2.x.min.js" | relURL}}" defer></script>

    {{ partial "custom-head.html" . }}

    <style>
      :root #header + #content > #left > #rlblock_left {
        display:none !important;
      }
    </style>


  </head>
  <body class="a-page" data-url="{{ .RelPermalink }}">
    {{ partial "topbar.html" . }}
    <button id="restore-left"  class="sidebar-restore-btn" title="{{ cond (eq .Site.Language.Lang "nb") "Vis navigasjonsmeny" "Show navigation" }}">›</button>
    <button id="restore-right" class="sidebar-restore-btn" title="{{ cond (eq .Site.Language.Lang "nb") "Vis innholdsfortegnelse" "Show table of contents" }}">‹</button>

    {{ if and (.IsHome) (.Params.jumbotron) }}
      {{ partial "jumbotron.html" . }}
    {{end}}

    <div class="container pt-2 pt-md-2 pt-lg-3">
      <div class="adocs-scrollcontainer">
        <div class="row">
            <div class="col-sm-12">

    {{ partial "menu.html" . }}
        <div class="body-toc-wrapper">
        <section id="body">
          <div id="content" class="adocs-content js-moveChildrenTo">
        <div id="overlay"></div>
        <div class="a-text">
          <div id="top-bar">
            <div id="breadcrumbs" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                <span id="sidebar-toggle-span" class="adocs-sidebarToggle">
                  <a href="#" id="sidebar-toggle" data-sidebar-toggle="">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Vis/skjul meny</span>
                  </a>
                </span>
                <span class="links">
                  <a href="{{ "/" | relURL }}" class="breadcrumb-home"><i class="fa fa-home"></i></a>
                  <span class="adocs-breadcrumb-divider"> / </span>
                  {{if .IsHome}}
                  <span>{{ .Title }}</span>
                  {{else}}
                  {{if eq .Kind "taxonomy"}}
                    <a href="/docs/tags/">Tags</a> /
                  {{end}}
                  {{ template "breadcrumb" dict "page" . "value" .LinkTitle }}
                  {{end}}
                </span>
            </div>
          </div>
        {{if .Params.tags }}
          <div id="tags">
            {{ range $index, $tag := .Params.tags }}
              <a class="label label-default" href="{{$.Site.BaseURL}}tags/{{ $tag | urlize }}">{{ $tag }}</a>
            {{ end }}
          </div>
        {{end}}
        <div id="body-inner">
          {{if not .IsHome}}
            {{if eq .Kind "taxonomy"}}
              <h1 class="a-fontBold">Tag: {{.Title}}</h1>
            {{else}}
              <h1 class="a-fontBold">
                {{.Title}}
                {{if .Params.titleSup }}
                  <sup>{{.Params.titleSup}}</sup>
                {{end}}
              </h1>
              <p class="a-leadText" id="leadText">{{.Description}}</p>
            {{end}}
            <div class="page-meta">
              {{ $editor := "" }}
              {{ with .Params.last_editor }}{{ $editor = . }}{{ end }}
              {{ $editor = $editor | replaceRE ` \(ukjent navn\)` "" }}
              {{ if not $editor }}{{ with .GitInfo }}{{ if not (strings.Contains .AuthorName "[bot]") }}{{ $editor = .AuthorName }}{{ end }}{{ end }}{{ end }}
              {{ $editorIsLogin := false }}
              {{ with .Params.last_editor }}{{ $editorIsLogin = true }}{{ end }}
              {{ if not .Lastmod.IsZero }}
                <span class="page-meta-lastmod">{{T "Last-modified"}}: {{ .Lastmod.Format "2006-01-02 15:04" }}{{ with $editor }}{{ $login := index (split . " ") 0 }}{{ $isLoginFormat := or (not (strings.Contains . " ")) (strings.Contains . "(") }}<span style="margin-left:0.3em;" {{ if and $editorIsLogin $isLoginFormat }}data-editor-login="{{ $login }}"{{ end }}>av bruker: {{ . }}</span>{{ end }}</span>
              {{ end }}
              {{ with .Params.id }}
                <span class="page-meta-id">ID: {{ . }}</span>
              {{ end }}
              {{ with .Params.status }}
                <span class="page-meta-status">{{ partial "status-symbol.html" $ }}{{ . }}</span>
              {{ end }}
              {{/* Repo-indikator – holdes i sync med routing-logikken i edit-switcher.html */}}
              {{ if .File }}
                {{ $repo := "samt-bu-docs" }}
                {{ $dir := path.Dir .File.Path }}
                {{ if or (eq $dir "utkast") (hasPrefix $dir "utkast/") }}
                  {{ $repo = "samt-bu-drafts" }}
                {{ else if or (eq $dir "prosjektleveranser/loesninger/cms-loesninger/samt-bu-docs") (hasPrefix $dir "prosjektleveranser/loesninger/cms-loesninger/samt-bu-docs/") }}
                  {{ $repo = "solution-samt-bu-docs" }}
                {{ else if or (eq $dir "arkitektur/overordnet-arkitektur") (hasPrefix $dir "arkitektur/overordnet-arkitektur/") }}
                  {{ $repo = "team-architecture" }}
                {{ else if or (eq $dir "pilotering/pilot-1") (hasPrefix $dir "pilotering/pilot-1/") }}
                  {{ $repo = "samt-bu-pilot-1" }}
                {{ else if or (eq $dir "pilotering/pilot-2") (hasPrefix $dir "pilotering/pilot-2/") }}
                  {{ $repo = "samt-bu-pilot-2" }}
                {{ else if or (eq $dir "pilotering/pilot-3") (hasPrefix $dir "pilotering/pilot-3/") }}
                  {{ $repo = "samt-bu-pilot-3" }}
                {{ else if or (eq $dir "pilotering/pilot-4") (hasPrefix $dir "pilotering/pilot-4/") }}
                  {{ $repo = "samt-bu-pilot-4" }}
                {{ else if or (eq $dir "arkitektur/informasjonsarkitektur") (hasPrefix $dir "arkitektur/informasjonsarkitektur/") }}
                  {{ $repo = "team-semantics" }}
                {{ else if or (eq $dir "ekstern-markedsdialog") (hasPrefix $dir "ekstern-markedsdialog/") }}
                  {{/* Manglet her da modulen ble lagt til – alle sider under
                       /ekstern-markedsdialog/ pekte på samt-bu-docs. Funnet
                       2026-08-02 ved test av innspill fra ekstern bruker. */}}
                  {{ $repo = "samt-bu-market-engagement" }}
                {{ end }}
                <span class="page-meta-repo"><a href="https://github.com/SAMT-X/{{ $repo }}" target="_blank" rel="noopener">SAMT-X/{{ $repo }}</a></span>
              {{ end }}
            </div>
          {{end}}

{{define "breadcrumb"}}
{{ if .page.Parent}}
{{$value := (printf "<a href='%s'>%s</a> <span class='adocs-breadcrumb-divider'> / </span> %s" .page.Parent.RelPermalink .page.Parent.LinkTitle .value)}}
{{ template "breadcrumb" dict "page" .page.Parent "value" $value }} 
{{else}}
 {{.value|safeHTML}}
{{end}}
{{end}}
